# 라이브러리 확인

In [1]:
# 라이브러리 불러오기
# sqlite3 라이브러리 버전
# SQLite(DB엔진) 버전
import sqlite3

print(sqlite3.version)
print(sqlite3.sqlite_version)

2.6.0
3.39.3

# 1. 기본 SQL 문법 연습

## DB 생성
- PATH : C:\Users\admin\AppData\Local\Programs\Microsoft VS Code

In [2]:
# DB 생성 
# isolation_level = None (auto commit)
conn = sqlite3.connect('test.db', isolation_level=None)

# 커서
c = conn.cursor()

# 테이블 생성(데이터 타입 = TEST, NUMERIC, INTEGER, REAL, BLOB 등)
# 필드명(ex. name) -> 데이터 타입(ex. text) 순서로 입력 
c.execute("CREATE TABLE IF NOT EXISTS TABLE1 \
    (id integer PRIMARY KEY, name text, birthday text)")

## 데이터 삽입

In [3]:
# 데이터 삽입 1
c.execute("INSERT INTO table1(id, name, birthday)\
    VALUES(?,?,?)",\
        (2, 'KIM','1999-02-02'))

In [4]:
# 데이터 삽입 2
c.execute("INSERT INTO table1 \
    VALUES(1, 'LEE', '1987-01-01')")

In [5]:
# 데이터 삽입 3

test_tuple  = (
    (3, 'PARK', '1999-05-05'),
    (4, 'KIM','1888-04-08'),
    (5, 'HEY','1666-91-01')
)

c.executemany("INSERT INTO table1(id, name, birthday) VALUES(?,?,?)", test_tuple)

## 데이터 불러오기

In [6]:
# 데이터 불러오기 1

c.execute("SELECT * FROM table1")
print(c.fetchone())
print(c.fetchone())
print(c.fetchall())

(1, 'LEE', '1987-01-01')
(2, 'KIM', '1999-02-02')
[(3, 'PARK', '1999-05-05'), (4, 'KIM', '1888-04-08'), (5, 'HEY', '1666-91-01')]

In [7]:
# 데이터 불러오기 2

c.execute("SELECT * FROM table1")
print(c.fetchall())

[(1, 'LEE', '1987-01-01'), (2, 'KIM', '1999-02-02'), (3, 'PARK', '1999-05-05'), (4, 'KIM', '1888-04-08'), (5, 'HEY', '1666-91-01')]

In [8]:
# 데이터 불러오기 3 - 반복문
c.execute("SELECT * FROM table1")
for row in c.fetchall():
    print(row)

(1, 'LEE', '1987-01-01')
(2, 'KIM', '1999-02-02')
(3, 'PARK', '1999-05-05')
(4, 'KIM', '1888-04-08')
(5, 'HEY', '1666-91-01')

In [9]:
# 데이터 불러오기 4 - 반복문
for row in c.execute("SELECT * FROM table1 ORDER BY id ASC"):
    print(row)

(1, 'LEE', '1987-01-01')
(2, 'KIM', '1999-02-02')
(3, 'PARK', '1999-05-05')
(4, 'KIM', '1888-04-08')
(5, 'HEY', '1666-91-01')

## 데이터 조회하기 (filtering)
- WHERE

In [10]:
# 방법 1
param1 = (1,)
c.execute("SELECT * FROM table1 WHERE id = ?", param1)
print( 'param1',c.fetchone())

param1 (1, 'LEE', '1987-01-01')

In [11]:
# 방법 2
param2 = 1
c.execute("SELECT * FROM table1 WHERE id = '%s'" % param2)
print('parpam2',c.fetchall())

parpam2 [(1, 'LEE', '1987-01-01')]

In [12]:
# 방법 3
c.execute("SELECT * FROM table1 WHERE id=:Id", {"Id":1})
print('param3', c.fetchall())

param3 [(1, 'LEE', '1987-01-01')]

In [13]:
# 방법 4
param4 = (1, 4)
c.execute("SELECT * FROM table1 WHERE id IN(?,?)", param4)
print('param4', c.fetchall())

param4 [(1, 'LEE', '1987-01-01'), (4, 'KIM', '1888-04-08')]

In [15]:
# 방법 5
c.execute("SELECT * FROM table1 WHERE id In(%d, %d)" % (1,4))
print('param5', c.fetchall())

param5 [(1, 'LEE', '1987-01-01'), (4, 'KIM', '1888-04-08')]

In [16]:
# 방법 6
c.execute("SELECT * FROM table1 WHERE id=:id1 OR id=:id2", {"id1":1, "id2":4})
print('param6', c.fetchall())

param6 [(1, 'LEE', '1987-01-01'), (4, 'KIM', '1888-04-08')]

## 데이터 수정 
- UPDATE, SET

In [91]:
# 방법 1
c.execute("UPDATE table1 SET name=? WHERE id=?", ("NEW1", 1))

In [92]:
# 방법 2
c.execute("UPDATE table1 SET name=:name WHERE id=:id", {"name":"NEW2", "id":3})

In [93]:
# 방법 3
c.execute("UPDATE table1 SET name ='%s' WHERE id = '%s'" % ('NEW3', 5))

In [94]:
# 확인용
c.execute("SELECT * FROM table1")
c.fetchall()

[(1, 'NEW1', '1987-01-01'),
 (2, 'KIM', '1999-02-02'),
 (3, 'NEW2', '1999-05-05'),
 (4, 'KIM', '1888-04-08'),
 (5, 'NEW3', '1666-91-01')]

## 데이터 삭제 
- WHERE, DELET

In [32]:
# 방법 1
c.execute("DELETE FROM table1 WHERE id = ?", (1,))

In [35]:
# 방법 2
c.execute("DELETE FROM table1 WHERE id=:id", {'id':3})

In [37]:
# 방법 3
c.execute("DELETE FROM table1 WHERE id = '%s'" % 5)

In [38]:
# 확인용 

for row in c.execute('SELECT * FROM table1'):
    print(row)

(2, 'KIM', '1999-02-02')
(4, 'KIM', '1888-04-08')

In [40]:
# 전체 다 지우기 
print(conn.execute("DELETE FROM table1"))

<sqlite3.Cursor object at 0x00000256A2E87500>

In [41]:
for row in c.execute('SELECT * FROM table1'):
    print(row)

## DB 백업
-dump

In [14]:
with conn:
    with open('dump.sql', 'w') as f:
        for line in conn.iterdump():
            f.write('%s\n' % line)
        print("Completed.")

Completed.

## 연결 해제
- close하면 db 백업이 안 된다.

In [15]:
conn.close()

# 2. FLASK + SQLite3
- image file

## 기초 1
- rb, wb

In [12]:
# 이미지 파일 바이너리형태로 읽기, 쓰기
with open('1.png', 'rb') as f:
    m = f.read()
    
with open('received.png','wb') as q:
    q.write(m)

## 기초 2 
1) make a connection
2) make a cursor
3) create tables
4) insert data
5) commit

In [4]:
import sqlite3

### 1) DB and Table 만들기

In [14]:
# DB 생성 
# isolation_level = None (auto commit)
conn = sqlite3.connect('image.db', isolation_level=None)

# 커서
cursor = conn.cursor()

# 테이블 생성(데이터 타입 = TEST, NUMERIC, INTEGER, REAL, BLOB 등)
# 필드명(ex. name) -> 데이터 타입(ex. text) 순서로 입력 
cursor.execute("""
CREATE TABLE IF NOT EXISTS my_table (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
name TEXT,
data BLOB)""")

conn.commit()
cursor.close()
conn.close()

### 2) image insert

In [15]:
conn = sqlite3.connect('image.db', isolation_level=None)

# 커서
cursor = conn.cursor()

name = 'bowon'
with open('1.png', 'rb') as f:
    data = f.read()
    
cursor.execute("""
INSERT INTO my_table (name, data) VALUES (?,?)          
""", (name, data)
)

conn.commit()
cursor.close()
conn.close()

### 3) image reload

In [21]:
conn = sqlite3.connect('image.db', isolation_level=None)

# 커서
cursor = conn.cursor()

m = cursor.execute("""
SELECT * FROM my_table
               """)

for x in m:
    #print(x[0])   # x[0] = name, x[1] = image
    rec_data = x[1]

with open('bowon.image.png', 'wb') as f:
    f.write(rec_data)

conn.commit()
cursor.close()
conn.close()

In [ ]:
# 예문
# cursor.execute("""
CREATE TABLE IF NOT EXISTS my_table (name TEXT, data BLOB)
""")

In [10]:
c.execute("INSERT INTO table1(email, name)\
    VALUES(?,?)",\
        ('hello@naver.com', 'kim'))

In [11]:
c.close()